body {
    font: Helvetica;
    color: #FDFCBB;
    height: 100%;
}

.first {
    background-color: #35815A;
}

html {
    background: #332810;
}

#hd {
    margin-right: auto;
    margin-left: auto;
    width: 630px;
}

a {
    color: #B1B182;
}

#mapDiv {
   position: absolute;
   width: 400px;
   height: 400px;
    float: right;
}