<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/f3/media/css/base.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?2.8.2r1/build/reset-fonts-grids/reset-fonts-grids.css&2.8.2r1/build/base/base-min.css">
</head>
<body id="doc2">
    <div id="hd">
        <img src="/f3/media/images/header.png" alt="F3 Logo">
    </div>
    {%  block content %}
        {# Stuff goes here #}
    {% endblock %}
    <div id="ft">
        Change me!
    </div>
</body>
</html>