{% extends "base.html" %}

{% block content %}

    <h2>{{ object.name|capfirst }}</h2>
    <h3> Contact Information </h3>
    <ul>
        <li>
            {{ object.contact_person }}
        </li>
        <li>
            {% firstof object.address 'Address unknown' %}
        </li>
        <li>
            {{ object.phone_number }}
        </li>
        <li>
            {% firstof object.website 'No Website'%}
        </li>
    </ul>
    {% if object.food_set %}
        <h3>Foods Offered</h3>
        {% for food in object.food_set %}
            <li><a href=/f3/food/{{ food.id }}">{{ food.name }}</a></li>
        {% endfor %}
    {% endif %}
    {% if object.get_service_offerings %}
    <h3> Services Offered </h3>
    <ul>
    {% for service in object.get_service_offerings %}
        <li>
            {{ service }}
        </li>
    {% endfor %}
     </ul>
    {% endif %}

{% endblock %}
