{% extends "base.html" %}

{% block head %}
    <script charset="UTF-8" type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
    <script type="text/javascript" src="/f3/media/js/indexMap.js"></script>
{% endblock %}

{% block sidebar %}
Navigation:
<ul>
  <li>
    <a href="{% url farms_list %}">List of Farms</a>
  </li>
  <li>
    <a href="{% url food_list %}">List of Foods</a>
  </li>
  <li>
    <a href="{% url food_current %}">Current Foods</a>
  </li>
</ul>
{% endblock %}

{% block content %}
    <div id='mapDiv'></div>
{% endblock %}