<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <!-- <link rel="stylesheet" type="text/css" href="/site_media/css/base.css" /> -->
    <title>{{ object_type|capfirst }} List{{ restriction }}</title>
</head>

<body>
    <h1>{{ object_type|capfirst }} List{{ restriction }}</h1>

	{% if object_list %}
	<table>
	  <thead>
		<tr><th>ID</th><th>Name</th><th>Description</th></tr>
	  </thead>
	  <tbody>
		{% for object in object_list %}
		<tr>
		  <td><a href="{{ object.get_absolute_url }}">{{ object.id }}</a></td>
		  <td>{{ object.name }}</td>
		  <td>{{ object.displaydescription }}</td>
		</tr>
		{% endfor %}
	  </tbody>
	</table>
	{% endif %}
	
</body>
</html>
